*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Lato", Arial, sans-serif;
}

h1 {
    position:relative;
    left: 1240px;
    bottom: -10px;
}

.SearchBar{
    position: relative;
    top: 355px;
    left: 470px;
    }

    .SearchBar input {
    height: 38px;
    width: 500px;
    }

    img {
        position: relative;
        left: 580px;
        top: 200px;
        z-index: -1;
    }